@media screen and (max-width: 992px) {
    .our-vision .vision-text,
    .features .features-text {
        padding: 1rem 1rem 0.5rem;
    }
    .vision-card {
        height: auto;
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    h1 { 
        font-size: 2.25rem !important;
    }
    .our-vision .vision-text {
        line-height: 1.2;
    }
    .our-vision .vision-text,
    .features .features-text {
        padding: 1rem 1rem 0.5rem;
    }
    .ellipse {
        width: 85%;
        top: -25px;
    }
    .vision-card {
        height: auto;
        width: 95% !important;
    }
    .t-coin {
        width: 50%;
        top: -15%;
    }
    /* Features */
    .features .container {
        height: 100%;
        padding: 0 0 !important;
    }
    .features .line {
        display: none;
    }
    /* Road map */
    .road-map {
        font-size: 0.8rem !important;
    }
    .road-map .date {
        color: #5a8f79;
        font-size: 4.6rem;
        font-weight: 600;
        padding-left: 0 !important;
    }
    .road-map h3 {
        font-size: 1.7rem;
        padding-top: 1.2rem;
    }
    .road-map p {
        padding-top: 2px;
        font-weight: 500;
        line-height: 0.65rem;
        font-size: 0.75rem;
    }
    .white-logo {
        z-index: 1;
        bottom: 50px;
        width: 100px;
    }
    .fa-sort-down {
        display: none !important; 
    }
}