@media screen and (max-width: 992px) {
    .our-vision .vision-text,
    .features .features-text {
        padding: 1rem 1rem 0.5rem;
    }
    .vision-card {
        height: auto;
        width: 100%;
    }
}

@media screen and (max-width: 640px) {
    .our-vision .vision-text {
        line-height: 1.2;
    }
    .our-vision .vision-text,
    .features .features-text {
        padding: 1rem 1rem 0.5rem;
    }
    .ellipse {
        width: 85%;
    }
    .vision-card {
        height: auto;
        width: 95% !important;
    }
    /* Features */
    .features .container {
        height: 100%;
        padding: 0 0 !important;
    }
    .features .line {
        display: none;
    }
    /* Road map */
    .road-map {
        font-size: 0.8rem !important;
    }
    .road-map .date {
        color: #5a8f79;
        font-size: 4.6rem;
        font-weight: 600;
        padding-left: 0 !important;
    }
    .white-logo {
        z-index: 1;
        bottom: 50px;
        width: 100px;
    }
}