
body {
    font-family: 'Poppins', sans-serif !important;
}

.container {
    max-width: 1550px !important;
}

/* Navbar */

.navbar .container {
    height: 80px;
}

.nav-item .nav-link {
    color: #59957c !important;
    margin: 0 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-item .btn {
    background-color: #94c691; 
    border-color: #94c691;
}

.banner {
    height: 850px;
    background-color: #f4f4f4;
}

.our-vision {
    height: 850px;
    background-image: url("../images/ourvision2.png") , url("../images/ourvision1.png");
}

.features {
    height: 800px;
    background-image: url("../images/features.png");
}

.our-partners {
    height: 350px;
}

.road-map {
    height: 1000px;
    background-color: #f4f4f4;
}

.roadmap-first {
    height: 200px;
    background-color: #1c5085;
}

.roadmap-second {
    height: 200px;
    background-color: #1c5085;
}