
body {
    font-family: 'Poppins', sans-serif !important;
}

.container {
    max-width: 1550px !important;
}

span {
    color: #94c691;
}

/* Navbar */

.navbar .container {
    height: 80px;
}

.nav-item .nav-link {
    color: #59957c !important;
    margin: 0 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-item .btn {
    background-color: #94c691; 
    border-color: #94c691;
}

/* Banner */

.banner {
    height: 850px;
    background-color: #f4f4f4;
}


.banner h3 {
    color: #245c99;
    letter-spacing: -2px;
}

.banner p {
    line-height: 2.3em;
    padding-right: 11rem;
    color: #545454;
}

.banner .btn {
    background-color: #94c691; 
    border-color: #94c691;
    font-weight: 500;
}

/* Our Vision */

.our-vision {
    height: 850px;
    background-image: url("../images/ourvision2.png") , url("../images/ourvision1.png");
}

.our-vision h1 {
    color: #fff;
    font-size: 3.5rem;
}

.our-vision .vision-text {
    color: rgba(255, 255, 255, 0.8);
    line-height: 2.5rem;
    padding: 1rem 9rem 0.5rem;
}

.vision-card {
    padding: 3rem 27rem;
}

.vision-card .card-body {
    height: 418px;
}

.vision-card .card {
    border: 4px solid #fff;
    border-bottom: none !important;
    border-radius: 3rem 3rem 0 0;
}

.vision-card h5 {
    color: #fff;
    padding: 0.8rem 1rem 0 1.2rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.vision-card p {
    color: rgba(255, 255, 255, 0.8);
    padding: 1rem 1rem 0 1.2rem;
    font-size: 0.9rem;
}

.features {
    height: 800px;
    background-image: url("../images/features.png");
}

.our-partners {
    height: 350px;
}

.road-map {
    height: 1000px;
    background-color: #f4f4f4;
}

.roadmap-first {
    height: 200px;
    background-color: #1c5085;
}

.roadmap-second {
    height: 200px;
    background-color: #1c5085;
}