
body {
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: -1px;
}

.container {
    max-width: 1550px !important;
}

span {
    color: #94c691;
}

.ellipse {
    position: relative;
    top: -33px;
    z-index: 0;
}

/* Navbar */

.navbar .container {
    height: 80px;
}

.nav-item .nav-link {
    color: #59957c !important;
    margin: 0 1.5rem;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav-item .nav-link:hover {
    color: #245c99 !important;
}

.nav-item .btn {
    background-color: #94c691; 
    border-color: #94c691;
}

/* Banner */

.banner {
    height: 850px;
    background-color: #f4f4f4;
}


.banner h3 {
    color: #245c99;
    letter-spacing: -2px;
    font-size: 2rem;
}

.banner p {
    line-height: 2.3rem;
    padding-right: 10rem;
    color: #545454;
    font-size: 1.15rem;
}

.banner .btn {
    background-color: #94c691; 
    border-color: #94c691;
    font-weight: 500;
}

.banner .fab {
    color: #245c99 !important;
}

.banner hr {
    border-top: 2px solid #133860;
}

/* Our Vision */

.our-vision {
    height: 850px;
    background-image: url("../images/ourvision2.png") , url("../images/ourvision1.png");
}

.our-vision h1, .features h1 {
    color: #fff;
    font-size: 3.5rem;
    position: relative;
    z-index: 1;
}

.our-vision .vision-text , .features .features-text {
    color: rgba(255, 255, 255, 0.8);
    line-height: 2.5rem;
    padding: 1rem 9rem 0.5rem;
}

.vision-card {
    padding: 3rem 27rem;
}

.vision-card .card-body {
    height: 418px;
}

.vision-card .card {
    border: 4px solid #fff;
    border-bottom: none !important;
    border-radius: 3rem 3rem 0 0;
    position: relative;
    overflow: hidden;
}

.vision-letter {
    position: absolute;
    bottom: 0;
    top: 5px;
    left: 30px;
    font-size: 25rem !important;
    font-weight: 800;
    color: rgba(255, 255, 255, 0.2) !important;
}

.vision-card h5 {
    color: #fff;
    padding: 0.8rem 1rem 0 1.2rem;
    font-size: 1.1rem;
    font-weight: 600;
}

.vision-card p {
    color: rgba(255, 255, 255, 0.8);
    padding: 1rem 1rem 0 1.2rem;
    font-size: 0.9rem;
}

/* Distribution */

.distribution {
    height: 1000px;
    position: relative;
}

.distribution .background {
    width: 100%;
    height: 700px;
    background-color: #f4f4f4;
    position: absolute;
    top: 15%;
    -ms-transform: skewY(-3deg); 
    transform: skewY(-3deg);
    z-index: -1;
}

.distribution h1 {
    position: relative;
    z-index: 1;
    color: #245c99;
    font-size: 3rem; 
    letter-spacing: -2px !important;   
}

/* Features */

.features {
    height: 800px;
    background-image: url("../images/features.png");
    position: relative;
    overflow-x: clip !important;
}

.t-coin {
    position: absolute;
    right: -15%;
    top: -35%;
}

.features .container {
    padding: 0 10rem;
}

.features .features-card {
    border-radius: 8px;
}

.features-card h5 {
    font-size: 1.3rem; 
}

.features-card p {
    color: #3a3a3a;
    font-size: 0.9rem;
    line-height: 1.8rem;
    font-weight: 600;
    padding: 0.3rem 1rem ;
}

.features .upper-card {
    position: relative;
    bottom: 10px;
}

.features .lower-card {
    position: relative;
    bottom: -70px;
}

.first-vertical-line {
    border-left: 7px solid #fff;
    height: 51%;
    position: relative;
    left: 50%;
    margin-left: -3px;
    bottom: 10px;
}

.second-vertical-line {
    border-left: 7px solid #fff;
    height: 51%;
    position: relative;
    left: 50%;
    margin-left: -3px;
    top: 70px;
}

.third-vertical-line {
    border-left: 7px solid #fff;
    height: 28%;
    position: relative;
    left: 50%;
    margin-left: -3px;
    top: 70px;
}

/* Our Partners */

.our-partners {
    height: 350px;
}

.our-partners h1 {
    position: relative;
    z-index: 1;
    color: #245c99;
    font-size: 3.5rem; 
    letter-spacing: -2px !important;   
}

/* Road Map */

.road-map {
    height: 1120px;
    background-color: #f4f4f4;
    position: relative;
    overflow: hidden;
}

.road-map:before {
    content: '';
    position: absolute;
    top: 0; left: 0;
    border-top: 80px solid white;
    border-right: 1900px solid #f4f4f4;
    width: 0;
}

.road-map h1 {
    padding-top: 5rem !important;
    color: #245c99;
    font-size: 3.5rem;
    position: relative;
    z-index: 1;
}

.roadmap-box {
    position: relative;
    height: 230px;
}

.roadmap-box .col {
    position: relative;
}

.roadmap-box:nth-child(even) {
    background: rgb(114,182,154);
    background: linear-gradient(90deg, rgba(114,182,154,1) 0%, rgba(52,109,139,1) 36%, rgba(22,74,132,1) 100%);
    -ms-transform: skewY(-3deg); 
    transform: skewY(-3deg);
    z-index: 1;
} 

.roadmap-box:nth-child(odd) {
    background: rgb(59,99,92);
    background: linear-gradient(90deg, rgba(59,99,92,1) 0%, rgba(33,68,86,1) 36%, rgba(13,45,81,1) 100%);
    -ms-transform: skewY(15deg); 
    transform: skewY(15deg);
    z-index: 0;
    top: 10px;
}

.roadmap-box:nth-child(4) {
    top: 20px;
}

.roadmap-box:nth-child(5) {
    top: 30px;
}

.road-map .date {
    color: #5a8f79;
    font-size: 4.6rem;
    font-weight: 600;
    padding-left: 5rem !important;
}

.road-map h3 {
    color: #fff;
    font-size: 2rem;
    padding-top: 1.5rem;
    -ms-transform: skewY(3deg); 
    transform: skewY(3deg);  
}

.fa-caret-right {
    font-size: 1.2rem !important;
}

.fa-sort-down {
    position: absolute;
    top: -30px !important;
    left: 5%;
    color: #f4f4f4;
}

.sort-down-dark1 {
    color: #1a3b54;
}

.sort-down-dark2 {
    color: #133452;
}

.road-map p {
    color: #fff;
    font-weight: 600;
    line-height: 0.8rem;
    font-size: 0.9rem;
    -ms-transform: skewY(3deg); 
    transform: skewY(3deg);  
}

.white-logo {
    z-index: 1;
    bottom: 100px;
}